html {
    font-family: 'lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.contaner {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
}

.coffee-suggestions {
    background-color: #fdde7e;
    padding: 50px 15px;
}

.coffee-list {
    list-style: none;
    margin: 0;
    padding: 50px 0;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coffee-item {
    max-width: 360px;
    background-color: #fff;
    margin: 0 15px;
    text-align: center;
    transition: all .2s linear;
}

.coffee-item:hover  {
    align-self: stretch;
}

.coffee-item:hover > .coffee-link {
    height: 100%;
    justify-content: space-between;
}

.coffee-link {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-decoration: none;
    padding: 40px 100px;
    color: #333333;
}

.coffee-price {
    font-size: 70px;
    color: #02995b;
    font-weight: 700;
}

.coffee-icon-holder {
    width: 100%;
    max-height: 135px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
}

.icon-smoke {
    font-size: 50px;
    margin-bottom: 10px;
    opacity: .5;
}

.icon-cup {
    font-size: 75px;
}

.icon-bean {
    font-size: 48px;
    opacity: .1;
    position: absolute;
    top: 55%;
    left: 32%;
}

li:first-child .icon-smoke,
li:first-child .icon-cup {
    color: #ff7900;
}

li:nth-child(2) .icon-smoke,
li:nth-child(2) .icon-cup {
    color: #ffca28;
}

li:last-child .icon-smoke,
li:last-child .icon-cup {
    color: #bdbdbd;
}

.coffee-title {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 40px;
}

.coffee-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .025em;
    font-weight: 300;
}